$colorsubt: rgba(250, 77, 189, 0.823);
$color: rgb(86, 85, 87);
$colordos: rgb(56, 55, 56);
$colortres: rgb(255, 250, 254);
$size: 20px;
$fontfamily:'Montserrat', sans-serif;
$textdecoration: none;
$alto: 80px;
$bgheaderyf: rgb(240, 237, 239);
$bgclis: rgba(154, 136, 124, 0.107);
